<div class="flex flex-col items-center gap-8  h-full w-full bg-neutral-3-50 px-[150px]">
 <div class="flex flex-col items-center  gap-8  h-full w-full max-w-7xl bg-white  my-8">
  <div class="w-full h-96">
    <tds-carousel tdsAutoPlaySpeed="6000" [tdsEffect]="effect" class="w-full truncate">
      <div tds-carousel-content *ngFor="let data of listOfData">
        <div class="flex justify-center w-full items-center">
          <img class="h-full w-full object-fill" src="{{ data.image }}" alt="" />
        </div>
      </div>
    </tds-carousel>
  </div>
  <div class="flex w-full gap-4 px-2">
    <div class="w-1/5 flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <div class="flex items-center text-primary-1 text-xl font-semibold gap-2">Tất cả danh mục
          <span><i
              class="tdsi-menu-1-fill border-0 box-border dark:hover:bg-d-neutral-3-300 dark:text-d-neutral-1-500 focus:outline-none h-7 hover:bg-neutral-3-50 hover:rounded-md inline-flex items-end justify-center leading-4 relative text-xl text-primary-1 cursor-pointer"></i></span>
        </div>
        <div class="flex flex-col gap-4">
          <div class=""></div>
          <div class=""></div>
          <div class=""></div>
          <div class=""></div>
        </div>
  
      </div>
      <div class=""></div>
    </div>
    <div class="w-4/5 grid grid-cols-4 gap-2">
      <div *ngFor="let product of lstProduct | slice: 0:5; let i=index;"
        class="flex flex-col gap-2 items-center border rounded-lg  relative " (click)="productDetail(product)">
        <div class="relative pt-[100%] w-full min-h-[158px] ">
          <img class="top-0 h-full first-line:left-0 absolute object-cover w-full" [src]="product.display_image" alt="">
        </div>
        <div class="flex flex-col gap-2 p-2 w-full">
          <div class="text-neutral-1-900 font-normal line-clamp-1 text-xs text-left w-full">
            {{product.name}}</div>
          <div class="flex flex-col gap-4 items-start  w-full">
            <div class="flex  gap-2">
              <div *ngIf="product.last_price.end_datetime" class="flex top-2 right-2">
                <!-- <div class="">{{product.last_price.end_datetime | date: "HH:mm /MM/YYYY"}}</div> -->
                <div class="text-xs text-back font-semibold  line-through">
                  {{product.pre_price?.price | currency:'VND':true }}</div>
              </div>
              <div [ngClass]="product.last_price.end_datetime ? 'text-error-500': ''"
                class="text-xs text-back font-normal">{{product.last_price.price |
                currency:'VND':true }}</div>
            </div>
            <div class="flex gap-1 justify-between items-center">
              <span>
                <tds-rate size="sm" [ngModel]="2.5" allowHalf></tds-rate>
              </span>
              <div class="text-neutral-1-900 font-normal line-clamp-1 text-xs text-left">
                Đã đánh giá
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>