<div class="h-full flex flex-col overflow-hidden  ">
  <div class="py-2.5 px-4 border-b-2 h-lgx">
    <div class="flex justify-between items-center ">
      <div class="">
        <tds-breadcrumb>
          <tds-breadcrumb-item><a [routerLink]="['/nhan-tin/chat']">Tin nhắn</a></tds-breadcrumb-item>
          <tds-breadcrumb-item><a [routerLink]="['/nhan-tin/setting']">Thiết lập chat</a></tds-breadcrumb-item>
          <tds-breadcrumb-item>Phím tắt</tds-breadcrumb-item>
        </tds-breadcrumb>
        <span class="text-header-1 text-neutral-1-900 font-semibold">Thêm phím tắt</span>
      </div>
      <div class="font-medium text-body-2">
        <button tds-button class="px-6 py-2 rounded-md mr-2">Lưu</button>
        <button tds-button-flat class="px-6 py-2 !text-neutral-1-900 border border-neutral-2-200 rounded-md focus:bg-transparent"> Hủy</button>
      </div>
    </div>
  </div>
  <div class="flex items-start  justify-center h-full w-full bg-neutral-1-50 ">
    <div class="flex mt-4 flex-col w-10/12 rounded-md gap-4">
      <div class="bg-white border rounded-md p-6 flex  w-full items-center ">
        <div class="mr-6 w-2/12  text-body-2 font-medium">
          <span class="mr-1">Từ khóa</span>
          <span class="text-error-500">*</span>
        </div>
        <input type="text"
          class="w-10/12 px-3 py-2  text-body-2 border-neutral-2-200  font-regular rounded  border  focus:ring-primary-1 focus:border-primary-1 "
          placeholder="Nhập từ khóa">
      </div>
      <div class="bg-white border rounded-md p-6  w-full items-center">
        <div class="flex flex-col gap-y-4">
          <div class="flex items-center w-full">
            <div class="flex items-start w-full">
              <div class="mr-6 w-2/12  text-body-2 font-medium">
                Nội dung tin nhắn 1
              </div>
              <textarea type="text"
                class="w-10/12 px-3 py-2 mr-4 text-body-2 font-regular rounded border-neutral-2-200 resize-none  border  focus:ring-primary-1 focus:border-primary-1"
                placeholder="Nhập từ khóa">Cảm ơn bạn đã quan tâm đến sản phẩm của shop. Shop sẽ phản hồi thông tin này trong giờ làm việc sớm nhất có thể.</textarea>
            </div>
            <button tds-button-outline-icon color="secondary">
              <i class="tdsi-trash-fill"></i>
            </button> 
          </div>
          <div class="flex items-center w-full">
            <div class="flex items-start w-full">
              <div class="mr-6 w-2/12  text-body-2 font-medium">
                Nội dung tin nhắn 2
              </div>
              <textarea type="text"
                class="w-10/12 px-3 py-2 mr-4 text-body-2 font-regular rounded border-neutral-2-200 resize-none  border  focus:ring-primary-1 focus:border-primary-1"
                placeholder="Nhập từ khóa">Cảm ơn bạn đã quan tâm đến sản phẩm của shop. Shop sẽ phản hồi thông tin này trong giờ làm việc sớm nhất có thể.</textarea>
            </div>
            <button tds-button-outline-icon color="secondary">
              <i class="tdsi-trash-fill"></i>
            </button> 
          </div>
          <div class="flex items-center w-full">
            <div class="flex items-start w-full">
              <div class="mr-6 w-2/12  text-body-2 font-medium">
                Nội dung tin nhắn 3
              </div>
              <textarea type="text"
                class="w-10/12 px-3 py-2 mr-4 text-body-2 font-regular rounded border-neutral-2-200 resize-none  border  focus:ring-primary-1 focus:border-primary-1"
                placeholder="Nhập từ khóa">Cảm ơn bạn đã quan tâm đến sản phẩm của shop. Shop sẽ phản hồi thông tin này trong giờ làm việc sớm nhất có thể.</textarea>
            </div>
            <button tds-button-outline-icon color="secondary">
              <i class="tdsi-trash-fill"></i>
            </button> 
          </div>
          <button tds-button class="w-full  border  rounded-md">
            <span class="flex items-center ">
              <i class="tdsi-download-fill text-lg leading-none mr-2"></i>Thêm tin nhắn mới
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>