<div
  class="flex w-2/3 h-4/5    bg-white rounded-xl absolute shadow-2xl p-16 text-neutral-1-900 gap-20  font-medium top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div class="flex items-center w-1/2">
    <div class="flex flex-col items-center">
      <img src="../../../../assets/shipper.png" alt="" class="object-fill" />
      <div class="text-heading-4 mt-10 mb-2.5 truncate text-primary-1 font-semibold">
        BNZON - <span class="text-neutral-1-900">
          Thương hiệu mới nổi
        </span>
      </div>
      <!-- <div class="text-body-2 font-regular">Chuyên nghiệp - tận tụy</div> -->
    </div>
  </div>
  <app-login-form></app-login-form>
</div>