<div class="text-heading-2 w-full text-center mb-8 font-semibold  text-neutral-1-900">
  Tạo mật khẩu mới
</div>
<div class="text-body-2  text-neutral-1-900">
  <div class="w-full mb-6">
    <div class="flex justify-start items-center">
      <label class="font-medium mb-2">Mật khẩu mới</label>
      &nbsp;
    </div>
    <input
      class="w-full px-3 text-body-2 text-neutral-1-400 relative py-2.5  font-regular bg-white bg-clip-padding border border-solid border-neutral-2-200 rounded transition focus:text-neutral-1-400 focus:bg-white focus:border-primary-1 focus:outline-none"
      placeholder="Nhập mật khẩu" />
  </div>
  <div class="w-full mb-6">
    <div class="flex justify-start items-center">
      <label class="font-medium mb-2">Xác nhận mật khẩu mới</label>
      &nbsp;
    </div>
    <input
      class="block w-full px-3  text-body-2 text-neutral-1-400 relative py-2.5  font-regular bg-white bg-clip-padding border border-solid border-neutral-2-200 rounded transition focus:text-neutral-1-400 focus:bg-white focus:border-primary-1 focus:outline-none"
      placeholder="Nhập mật khẩu" />
  </div>
</div>
<button class="py-2 w-full text-center text-title-1 bg-primary-1 font-medium text-white rounded-md">
  Tiếp tục
</button>