<div class="flex justify-center items-center w-screen h-screen bg-black ">
 <div class="px-4 pt-6 pb-4 flex flex-col justify-between gap-y-8  bg-white  rounded-md w-2/12 h-1/5">

  <div class="gap-4 flex flex-col">
   <div class=" text-header-1 font-semibold text-neutral-1-900">Gỡ tin nhắn</div>
   <div class=" text-neutral-1-900">Bạn muốn gỡ tin nhắn này?</div>
  </div>
  <div class="grid grid-cols-2 gap-3">
   <button class=" px-4 py-2.5 border rounded-md text-neutral-1-900 bg-white text-body-2 font-medium">Hủy</button>
   <button class="px-4 py-2.5 border  rounded-md text-white bg-error-400 text-body-2 font-medium">Xác
    nhận</button>
  </div>
 </div>
</div>