<div class="flex flex-col gap-2.5 divide-y border-neutral-2-100 ">
      <div class="px-4  pt-2.5 flex flex-col w-full ">
        <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
          <tds-breadcrumb>
            <tds-breadcrumb-item><a [routerLink]="['/admin/product']">Đánh giá</a></tds-breadcrumb-item>
            <tds-breadcrumb-item>Đánh giá shop</tds-breadcrumb-item>
          </tds-breadcrumb>
          </div>
          <span class="text-header-1 text-neutral-1-900 font-semibold">Đánh giá shop</span>
      </div>     
     <div class="flex justify-between px-4 items-center">  
            <tds-filter-status    [(ngModel)]='star' (selectChange)="onSelectChangeRating($event)">
                <ng-template ngFor let-item [ngForOf]="lstStar" let-i="index">
                    <tds-filter-status-item [name]='item.name' [count]='item.count'
                        [value]="item.value" >
                        <ng-template tds-filter-status-template let-active='active' let-disabled="disabled" let-count='count'
                            let-name='name' let-value>                   
                            <div class="p-4 flex items-center border-b-3 border-transparent text-body-2 font-medium"
                                [ngClass]="{' border-primary-1':active,'
                                hover:border-primary-1 group':!disabled}">
                                <div class="text-body-2 mr-2 font-semibold"
                                    [ngClass]="{'text-neutral-1-900':active,'text-neutral-1-600 
                                    group-hover:text-neutral-1-900':!active}">
                                    {{name}}</div>
                                <div>
                                    <span *ngIf="value != 0" class="tdsi-star-1-fill text-base leading-4 text-warning-400">
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </tds-filter-status-item>
                </ng-template>
            </tds-filter-status>
        <div class="flex gap-2 items-center">
            <div class="text-header-1 text-neutral-1-400 font-semibold w-20">Tổng</div>
            <div class="flex items-center gap-1">
                <div class="text-heading-3 font-semibold text-primary-1">4.6</div>
                <div class="text-header-1   font-semibold text-neutral-1-400">/5</div>
            </div>
            <div class="flex items-center">
                <i class="tdsi-star-1-fill text-warning-400 text-2xl"></i>
            </div>
        </div>
     </div>
  </div>
<div class="flex    h-full w-full bg-neutral-3-50 p-4 overflow-hidden  ">
    <!-- list order -->
      <div class="bg-white w-full border  border-neutral-2-200 pb-2.5  rounded-md  overflow-hidden  flex flex-col" >
              <div class="flex items-center  justify-between px-4">
                <tds-filter-status [ngModel]='status'  (selectChange)="onSelectChangeStatus($event)">
                  <ng-template ngFor let-item [ngForOf]="lstStatus" let-i="index">
                    <tds-filter-status-item [name]='item.name' [count]='item.count'
                    [value]="item.value" >      
                    </tds-filter-status-item>
                  </ng-template>
                    
                </tds-filter-status>
              <tds-form-field >
                      <input
                        class="w-96"
                        tdsInput
                        [tdsInputDebounce]="750"
                        autocomplete="off"
                        [(ngModel)]="filetername"
                        placeholder="Tìm kiếm"             
                        [required]="true"
                        (inputKeyup)="searchName()"/>
                      <span tdsPrefix><i class="tdsi-search-fill"></i></span> 
                    </tds-form-field>     
              </div>
              <div class="w-full h-full">
                <tds-table showSizeChanger #sortTable [total]="total" (queryParams)="onQueryParamsChange($event)" [listData]="reviews" [frontPagination]="false" [loading]="loading"  [(pageSize)]="pageSize" [(pageIndex)]="pageIndex"   [scroll]="{y:'auto'}"  >
                  <thead >
                      <tr>
                          
                          <th width="220px">Khách hàng</th>
                          <th width="160px">Đánh giá</th>
                          <th width="600px">Nội dung</th>
                          <th width="180px">Ngày đánh giá</th>
                          <th width="180px">Trạng thái </th>
                          <th >Thao tác</th>
                         
                      </tr>
                  </thead>
                  <tbody >      
                        <ng-container *ngFor="let data of sortTable.data">
                          <tr>
                             
                              
                              <td><div class="flex flex-col ">
                                <div class="text-body-2 font-regular text-neutral-1-900 ">
                                  {{ data.customerName }} 
                                </div>
                                <div class="flex items-center gap-1 text-neutral-1-400 text-body-2 font-regular"><i class="tdsi-call-fill text-neutral-1-500"></i> {{ data.customerPhoneNumber }} </div>
                              </div></td>
                             
                              <td >
                                <tds-rate size="sm" [(ngModel)]="data.rating" disabled
                                   >
                                </tds-rate>
                               
                              </td>
                              <td  >
                                <div class="text-body-2 font-regular text-neutral-1-900 gap-1">
                                    {{ data.reviewMessage }}
                                   
                                  </div>
                              </td>                 
                              <td><div class="text-body-2 font-regular text-neutral-1-900">{{ data.creationTime | date:'MM/dd/yyyy'  }}</div></td>
                              <td  [ngSwitch]="data.status">
                                <tds-tag *ngSwitchCase="2" status='success' type="outline" class="text-body-2 font-regular text-neutral-1-900">Đã trả lời</tds-tag> 
                                <tds-tag *ngSwitchCase="3" status='secondary' type="outline" class="text-body-2 font-regular text-neutral-1-900">Đã ẩn</tds-tag>
                                <tds-tag *ngSwitchCase="1" status='info' type="outline" class="text-body-2 font-regular text-neutral-1-900">Chưa trả lời</tds-tag>
                               
                              </td>
                              <td [ngSwitch]="data.status">
                                <div *ngSwitchCase="3" class="text-body-2 font-medium text-info-500 opacity-65">
                                    Trả lời |   Đã báo cáo
                                </div>
                                <div *ngSwitchCase="1" class="text-body-2 font-medium text-info-500">
                                 Trả lời |   Báo cáo
                                </div>
                                <div *ngSwitchCase="2" class="text-body-2 font-medium text-info-500">
                                    Trả lời |   Báo cáo
                                </div>
                              </td>
                          </tr>
                         
                        
                        </ng-container>
                      
                  </tbody>
              </tds-table>
               </div>
      </div>
</div>  
