<tds-spin [spinning]="isLoading">
  <div class="w-screen h-screen overflow-hidden flex">
    <div [style.min-width.px]="!isCollapsed ? 256 : 64" class="h-full">
      <tds-menu [data]="lstData" [inlineCollapsed]="isCollapsed" [showLogo]="true"
        (onOpenChange)="onOpenChange($event)">
        <img src="assets/images/LogoBNZON.svg" logo-text width="156" height="48" viewBox="0 0 156 48" fill="none">
        <img src="assets/images/LogoShort.svg" logo>
      </tds-menu>
    </div>
    <div class="flex-auto flex flex-col h-full">
      <div class="w-full py-1">
        <tds-header>
          <div class="inline-flex tds-header-toolbar-right items-end">

            <div class="overflow-hidden">
              <tds-spin [spinning]="false">
                <div class="inline-flex pl-4 cursor-pointer" tds-dropdown [tdsDropdownMenu]="dropdownAvatar"
                  trigger="click" clickHide=false>
                  <div class="flex  items-center justify-center">
                    <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white"
                      [tdsSrc]="userProfile$?.avatar" [text]="nameProfile">
                    </tds-avatar>
                    <div class="ml-2 truncate">
                      {{userProfile$?.name}}
                    </div>
                    <tds-dropdown-menu #dropdownAvatar="tdsDropdownMenu">
                      <div class="w-56">
                        <div tds-dropdown-item>
                          <div class="flex w-full">
                            <div class="flex gap-2">
                              <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white"
                                [shape]="'square'" [tdsSrc]="userProfile$?.avatar" [text]="nameProfile">
                              </tds-avatar>
                            </div>
                            <div class="flex flex-auto flex-col ml-2">
                              <div class="text-body-2 font-semibold">{{userProfile$?.name}}</div>
                              <!-- <div class="text-neutral-1-600 text-caption-1 font-regular"
                                *ngIf="(role$ | async) as roles">
                                {{roles.length > 0 ? roles.join(' | '): "---"}}
                              </div> -->
                            </div>
                          </div>
                        </div>
                        <div tds-dropdown-item routerLink="/dashboard/user">Tài khoản</div>
                        <div tds-dropdown-item (click)="showModalChangePassword()">Đổi mật khẩu</div>
                        <div tds-dropdown-item (click)="onLogout($event)">
                          <a class="text-error-400">Đăng xuất</a>
                        </div>
                      </div>
                    </tds-dropdown-menu>
                  </div>
                </div>
              </tds-spin>
            </div>
          </div>
        </tds-header>
      </div>
      <div class="w-full flex-auto bg-neutral-3-200 border-t border-neutral-2-200">
        <div class="h-full w-full relative">
          <div class="absolute inset-0 overflow-y-auto overflow-x-visible tds-custom-scroll" cdkScrollable
            [@routeFade]="getOutletState(o)">
            <!-- <router-outlet>
                      </router-outlet> -->
            <router-outlet #o="outlet"></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</tds-spin>