<div class="border border-neutral-2-200 shadow-xl p-8">
  <div class="text-center text-heading-2 mb-8">Đăng ký</div>
  <div class=" w-full mb-6">
    <div class="flex justify-start items-center">
      <label class="font-medium text-body-2 mb-2 text-neutral-1-900 ">Họ và tên </label>
      &nbsp;
    </div>
    <input
      class=" block w-full px-3 py-2.5 text-body-1 text-neutral-1-400   font-normal bg-white bg-clip-padding border border-solid border-neutral-2-200 rounded transition focus:text-neutral-1-400 focus:bg-white focus:border-primary-1 focus:outline-none"
      placeholder="Nhập đầy đủ họ và tên" />
  </div>
  <div class=" w-full mb-6">
    <div class="flex justify-start items-center">
      <label class="font-medium text-body-2 mb-2 text-neutral-1-900">Địa chỉ email </label>
      &nbsp;
    </div>
    <input
      class=" block w-full px-3 py-2.5 text-body-1 text-neutral-1-400 font-normal bg-white bg-clip-padding border border-solid border-neutral-2-200 rounded transition focus:text-neutral-1-400 focus:bg-white focus:border-primary-1 focus:outline-none"
      placeholder="Nhập email" />
  </div>
  <div class=" w-full mb-6">
    <div class="flex justify-start items-center">
      <label class="font-medium text-body-2 mb-2 text-neutral-1-900">Mật khẩu</label>
      &nbsp;
    </div>
    <input
      class=" block w-full px-3 py-2.5 text-body-1 text-neutral-1-400   font-normal bg-white bg-clip-padding border border-solid border-neutral-2-200 rounded transition focus:text-neutral-1-400 focus:bg-white focus:border-primary-1 focus:outline-none"
      placeholder="Nhập mật khẩu" />
  </div>
  <div class=" w-full mb-6">
    <div class="flex justify-start items-center">
      <label class="font-medium text-body-2 mb-2 text-neutral-1-900">Xác nhận mật khẩu</label>
      &nbsp;
    </div>
    <input
      class=" block w-full px-3 py-2.5 text-body-1 text-neutral-1-400   font-normal bg-white bg-clip-padding border border-solid border-neutral-2-200 rounded transition focus:text-neutral-1-400 focus:bg-white focus:border-primary-1 focus:outline-none"
      placeholder="Nhập mật khẩu" />
  </div>

  <button class="w-full bg-primary-1 text-white text-center py-2 rounded-md text-title-1">
    Đăng nhập
  </button>
</div>