<div class="bg-white  w-full pb-2.5 h-full  rounded-lg  overflow-hidden  flex flex-col">
  <div class="flex items-center  justify-end px-4 py-2.5">
    <div class="flex gap-2">
      <tds-form-field>
        <input class="w-96" tdsInput autocomplete="off" placeholder="Tìm kiếm theo tên đơn hàng" [required]="true" />
        <span tdsPrefix><i class="tdsi-search-fill"></i></span>
      </tds-form-field>
      <button (click)="onDeleteAll()" tds-button-outline-icon color="secondary">
        <i class="tdsi-trash-fill text-neutral-1-500 border-neutral-2-200"></i>
      </button>
    </div>
  </div>
  <div class="w-full h-full">
    <tds-table #rowSelectionTable showSizeChanger [loading]="loading" [listData]="lstAccsetType" [scroll]="{y:'auto'}"
    (currentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
      <tr>
        <th width="48px" [(checked)]="checked" [indeterminate]="indeterminate" (checkedChange)="onAllChecked($event)">
        </th>
        <th width="100px">STT</th>
        <th width="200px">Mã loại tài sản</th>
        <th width="600px">Tên loại tài sảnh</th>
        <th width="400px">Mô tả</th>
        <th width="206px" [tdsRight]="true">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data" let-index='index' let-odd='odd'>
        <tr>
          <td width="48px" [checked]="setOfCheckedId.has(data)" (checkedChange)="onItemChecked(data, $event)"></td>
          <td width="100px">{{ index+1}}</td>
          <td width="200px">{{data.code}}</td>
          <td width="600px">{{ data.name }}</td>
          <td width="400px">{{ data.description }}</td>
          <td width="206px" [tdsRight]="true">
            <div class="flex gap-2">
              <button  tds-button-outline-icon color="secondary">
                <i class="tdsi-edit-fill text-neutral-1-300 border-neutral-2-100"></i>
              </button>
              <button (click)="onDeleteOne(data)" tds-button-outline-icon color="secondary">
                <i class="tdsi-trash-fill text-neutral-1-300 border-neutral-1-200"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </tds-table>
  </div>
</div>
