<div class="flex flex-col items-center  gap-8  h-full w-full max-w-7xl   my-12 overflow-hidden">
  <div class="w-full min-h-[900px] flex gap-4 overflow-hidden">
    <div class="flex rounded-xl flex-col w-3/4  gap-6">
      <div class="flex flex-col gap-6 bg-white rounded-xl p-4">
        <tds-breadcrumb>
          <tds-breadcrumb-item><a [routerLink]="['/customer/']">Trang chủ</a></tds-breadcrumb-item>
          <tds-breadcrumb-item>
            <div class="text-primary-1">Thông tin cá nhân</div>
          </tds-breadcrumb-item>
        </tds-breadcrumb>
        <div class="flex justify-between items-center">
          <div class="font-semibold text-header-2 text-neutral-1-900">Thông tin cá nhân</div>
          <div class="flex gap-4">
            <button (click)="showModaChangePassword()" tds-button-outline color="primary">
              <span class="flex items-center">
                <i class="tdsi-lock-fill text-lg leading-none mr-2"></i>Đổi Mật khẩu
              </span>
            </button>
            <button tds-button color="primary">
              <span class="flex items-center">
                <i class="tdsi-edit-fill text-lg leading-none mr-2"></i>
                Chỉnh sửa thông tin
              </span>
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-4 mb-10">
          <div class="flex gap-8">
            <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white" [size]="64" [shape]="'square'"
              [text]="nameProfile" [tdsSrc]="userProfile$?.avatar">
            </tds-avatar>
          </div>
          <div class="grid grid-cols-2 gap-8">
            <div class="flex gap-4">
              <div class="w-1/3">
                <div class="grid grid-rows-3 gap-4">
                  <div class="text-body-2 font-semibold text-neutral-1-900">Họ và tên</div>
                  <div class="text-body-2 font-semibold text-neutral-1-900">Giới tính</div>
                  <div class="text-body-2 font-semibold text-neutral-1-900">Ngày sinh</div>
                </div>
              </div>
              <div class="w-2/3">
                <div class="grid grid-rows-3 gap-4">
                  <div class="text-body-2 font-regular text-neutral-1-900">{{userProfile$?.name}}
                  </div>
                  <div class="text-body-2 font-regular text-neutral-1-900">Nam</div>
                  <div class="text-body-2 font-regular text-neutral-1-900">{{userProfile$?.birthday| date: "dd/MM/yyyy"}}</div>
                </div>
              </div>
            </div>
            <div class="flex gap-4">
              <div class="w-1/3">
                <div class="grid grid-rows-3 gap-4">
                  <div class="text-body-2 font-semibold text-neutral-1-900">Danh xưng</div>
                  <div class="text-body-2 font-semibold text-neutral-1-900">Số điện thoại</div>
                  <div class="text-body-2 font-semibold text-neutral-1-900">Email cá nhân</div>
                </div>
              </div>
              <div class="w-2/3">
                <div class="grid grid-rows-3 gap-4">
                  <div class="text-body-2 font-regular text-neutral-1-900">{{userProfile$?.nickname || "---"}}</div>
                  <div class="text-body-2 font-regular text-neutral-1-900">---</div>
                  <div class="text-body-2 font-regular text-neutral-1-900">{{userProfile$?.email || "---"}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="w-1/4">
      <div class="flex flex-col gap-4 px-4 py-6 rounded-xl bg-white">
        <ng-container *ngIf="lstOrderDetail.length >0; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <div class="font-semibold text-header-2 text-neutral-1-900">Các hoạt động gần đây</div>
          <tds-timeline class="mt-4">
            <tds-timeline-item *ngFor="let items of lstOrderDetail">
              <div [ngSwitch]="items.status">
                <h1 *ngSwitchCase="'Waiting for confirm'" class="text-body-2 font-semibold text-neutral-1-900">Đặt hàng tại shop
                  {{items.agency.name}}</h1>
                <h1 *ngSwitchCase="2" class="text-body-2 font-semibold text-neutral-1-900">Shop {{items.agency.name}} đã
                  duyệt đơn hàng của bạn
                </h1>
                <h1 *ngSwitchCase="3" class="text-body-2 font-semibold text-neutral-1-900">Shop {{items.agency.name}} Đã gửi đơn
                  hàng của bạn
                </h1>
                <h1 *ngSwitchCase="4" class="text-body-2 font-semibold text-neutral-1-900">Bị hủy do không có người nhận
                  của shop
                  {{items.agency.name}}</h1>
                <h1 *ngSwitchCase="5" class="text-body-2 font-semibold text-neutral-1-900">Đã nhận được hàng của shop
                  {{items.agency.name}}</h1>
              </div>
              <h3 class="text-body-2 font-regular text-neutral-1-400">Vào lúc {{items.date_order| date:
                'HH:mm dd/MM/YYYY'}}</h3>
            </tds-timeline-item>
          </tds-timeline>
        </ng-template>
        <ng-template #elseTemplate>
          <div class="flex items-center justify-center">
            <div class="flex flex-col gap-6 items-center py-6">
              <img src="assets//images//dashboard//No data.svg" alt="" srcset="">
              <div class="text-body-2 font-regular text-neutral-1-300">Không tìm thấy hoạt động nào
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>