<div
  class="flex items-center bg-white rounded-xl w-2/3 absolute shadow-2xl p-16 text-neutral-1-900 gap-20  font-medium top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
>
  <div class="w-1/2 flex flex-col justify-center items-center">
    <img src="../../../../assets/untitled2 1.png" alt="" class="mb-10" />
    <div class="text-heading-2 font-semibold mb-2.5">Đăng kí bán hàng cùng</div>
    <div class="text-title-1 font-medium">
      <span>Tiếp cận hơn </span>
      <span class="text-primary-1">22 triệu lượt truy cập </span>
      <span>mỗi tháng!</span>
    </div>
  </div>
  <div class="w-1/2">
    <router-outlet></router-outlet>
  </div>
</div>
