<div class="border border-neutral-2-200 shadow-xl p-8">
  <div class="text-heading-2 w-full text-center mb-8">Đặt lại mật khẩu</div>
  <div class="form-group w-full mb-6">
    <div class="flex justify-start items-center">
      <label class="font-medium text-body-2 mb-2">Số điện thoại</label>
      &nbsp;
    </div>
    <div class="relative flex flex-wrap items-stretch ">
      <div class="absolute z-10 h-full  flex justify-start items-center pl-3 py-2.5">
        <img src="../../../../../assets/Frame 11143.png" alt="" class="" />
        <div class=" pr-2 border-r border-neutral-2-100">
          <select class=" focus:text-gray-700 focus:bg-white border-transparent focus:ring-0 focus:border-primary-1">
            <option selected>+84</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <input type="username"
        class="form-control block w-full pl-32 placeholder-slate-300 text-slate-600 relative py-2.5 font-Inter font-normal bg-white bg-clip-padding border border-solid border-neutral-2-200 rounded transition focus:text-neutral-1-400 focus:bg-white focus:border-primary-1 focus:outline-none"
        placeholder="" />
    </div>
  </div>
  <button class="py-2 w-full text-center bg-primary-1 text-white rounded-md">
    Tiếp tục
  </button>
</div>