<div class="bg-white  w-full pb-2.5 h-full  rounded-lg  overflow-hidden  flex flex-col">
  <div class="flex items-center  justify-end px-4 py-2.5">
    <div class="flex gap-2">
      <tds-form-field>
        <input class="w-96" tdsInput autocomplete="off" [tdsInputDebounce]="500" (inputKeyup)="search($event)"
          placeholder="Tìm kiếm theo mã đơn hàng, khách hàng và tên sản phẩm" />
        <span tdsPrefix><i class="tdsi-search-fill"></i></span>
      </tds-form-field>
      <button (click)="onDeleteAll()" tds-button-outline-icon color="secondary">
        <i class="tdsi-trash-fill text-neutral-1-500 border-neutral-2-200"></i>
      </button>
    </div>
  </div>
  <div class="w-full h-full">
    <tds-table #rowSelectionTable showSizeChanger [loading]="loading" [listData]="lstAccsetType" [scroll]="{y:'auto'}"
      (currentPageDataChange)="onCurrentPageDataChange($event)">
      <thead>
        <tr>
          <th width="48px">
          </th>
          <th width="48px">
            STT
          </th>
          <th width="100px">Mã đơn hàng</th>
          <th width="100px">Khách hàng</th>
          <th width="150px">Ngày đặt</th>
          <th width="150px">Hình thức thanh toán</th>
          <th width="150px">Trạng thái</th>
          <th width="106px" [tdsRight]="true">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data" let-index='index' let-odd='odd'>
          <tr>
            <td width="48px" [expand]="expandSet.has(data.id)" (expandChange)="onExpandChange(data.id, $event)"></td>
            <td width="50px">{{(pageIndex-1) * pageSize + index + 1}}</td>
            <td width="100px">{{ data.order_detail_no}}</td>
            <td width="100px">
              <div class="flex flex-col">
                <div class="text-body-2 font-regular text-neutral-1-900">
                  {{ data.customer.name }}
                </div>
                <div class="flex items-center gap-1 text-neutral-1-400 text-body-2 font-regular"><i
                    class="tdsi-call-fill text-neutral-1-500"></i>{{ data.customer.phone }} </div>
              </div>
            </td>
            <td width="150px">{{ data.date_order | date: "HH:mm dd/MM/YYYY"}}</td>
            <td width="150px">
              <ng-container *ngIf="data.status == '5'; then thenTemplate1; else elseTemplate1">
              </ng-container>
              <ng-template #thenTemplate1>
                <div class="flex gap-1 items-center text-body-2 font-regular text-neutral-1-900">
                  <tds-badge color="#87d068" class=" mr-1"></tds-badge>
                  Đã thanh toán
                </div>
              </ng-template>
              <ng-template #elseTemplate1>
                <div *ngIf="data.status !== '4'"
                  class="flex gap-1 items-center text-body-2 font-regular text-neutral-1-900">
                  <tds-badge color="#f50" class=" mr-1"></tds-badge>
                  Chưa thanh toán
                </div>
              </ng-template>
            </td>
            <td width="150px">
              <div [ngSwitch]="data.status" class="">
                <tds-tag *ngSwitchCase="'Waiting for confirm'" status='warning' type="outline"
                  class="text-body-2 font-regular text-neutral-1-900">Đang chờ phê duyệt</tds-tag>
                <tds-tag *ngSwitchCase="2" status='secondary' type="outline"
                  class="text-body-2 font-regular text-neutral-1-900">
                  Đã phê duyệt</tds-tag>
                <tds-tag *ngSwitchCase="3" status='secondary' type="outline"
                  class="text-body-2 font-regular text-neutral-1-900">Đã gửi vận chuyển</tds-tag>
                <tds-tag *ngSwitchCase="4" status='error' type="outline"
                  class="text-body-2 font-regular text-neutral-1-900">Đã hủy</tds-tag>
                <tds-tag *ngSwitchCase="5" status='success' type="outline"
                  class="text-body-2 font-regular text-neutral-1-900">Đã nhận</tds-tag>
              </div>
            </td>
            <td width="106px" [tdsRight]="true">
              <div class="flex gap-2 justify-center">
                <button *ngIf="data.status === 'Waiting for confirm'" (click)="accept(data)" tds-button-outline-icon
                  color="secondary">
                  <i class="tdsi-edit-fill text-neutral-1-300 border-neutral-2-100"></i>
                </button>
                <button *ngIf="data.status == '2'" (click)="onship(data)" tds-button-outline-icon color="secondary">
                  <i class="tdsi-truck-fill text-neutral-1-300 border-neutral-1-200"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr [expand]="expandSet.has(data.id)" class="   border-neutral-2-100 text-neutral-1-900 bg-neutral-3-200 ">
            <div class="bg-white flex flex-col  pt-4 pb-10 border rounded-md w-full overflow-auto tds-custom-scroll">
              <tds-table  #rowSelection  [title]="title" [showPagination]="false" [listData]="data.order">
                <thead>
                  <tr>
                    <th width="120px">Tên sản phẩm</th>
                    <th width="100px">Hình ảnh</th>
                    <th width="50px">Số lượng</th>
                    <th width="50px">Tổng</th>
                    <th width="100px" [tdsRight]="true">Thao tác</th>
                  </tr>
                </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="rowSelection.data" let-index='index' let-odd='odd'>
          <tr >
            <td width="120px">{{data.product.name}}</td>
            <td width="100px">
              <!-- {{data.order.}} -->
              <tds-avatar [shape]="'square'" [isAvatar]="false" [size]="'lg'" [tdsSrc]=data.product.display_image>
              </tds-avatar>
            </td>
            <td width="100px">
              <!-- <ng-container *ngIf="data.is_delete; then thenTemplate; else elseTemplate"></ng-container>
              <ng-template #thenTemplate>
                <tds-tag status='error' type="outline" class="text-body-2 font-regular text-neutral-1-900">
                  Đã xóa</tds-tag>
              </ng-template>
              <ng-template #elseTemplate>
                <ng-container *ngIf="data.is_approved; then thenTemplate1; else elseTemplate1">
                </ng-container>
                <ng-template #thenTemplate1>
                  <tds-tag status='success' type="outline" class="text-body-2 font-regular text-neutral-1-900">
                    Đã kích hoạt</tds-tag>
                </ng-template>
                <ng-template #elseTemplate1>
                  <tds-tag status='secondary' type="outline" class="text-body-2 font-regular text-neutral-1-900">
                    Chưa kích hoạt</tds-tag>
                </ng-template>
              </ng-template> -->
            </td>
            <td width="50px">{{ data.buy}}</td>
            <td width="50px">{{ data.amount|currency:'đ':'code'}}</td>
            <td width="100px" [tdsRight]="true">
              <!-- <div class="flex gap-2">
                <div class="flex gap-2 justify-center cursor-pointer">
                  <div *ngIf="!data.is_approved" tds-tooltip
                    tooltipTitle="Kích hoạt sản phẩm" class="text-body-2 font-medium text-info-500">
                    Kích hoạt sản phẩm
                  </div>
                </div>
                <div class="flex gap-2 justify-center cursor-pointer">
                  <div *ngIf="!data.is_delete"  tds-tooltip tooltipTitle="Xóa sản phẩm"
                    class="text-body-2 font-medium text-error-500">
                    Xóa sản phẩm
                  </div>
                </div>
              </div> -->
            </td>
          </tr>
        </ng-template>
      </tbody>
    </tds-table>
    <!-- <div class="flex justify-end pr-16 py-4 ">
                      <div class="flex flex-col gap-4">
                        <div class="flex justify-between">
                          <div class="mr-20 text-body-2 font-regular text-neutral-1-900">2 sản phẩm </div>
                          <div class="flex gap-1 text-body-2 font-medium text-neutral-1-900"> <u
                              class="text-neutral-1-400 font-regular">đ</u>
                            2.400.000</div>
                        </div>
                        <div class="flex justify-between">
                          <div class="text-body-2 font-regular text-neutral-1-900">Phí giao hàng</div>
                          <div class="flex gap-1  text-body-2 font-medium text-neutral-1-900"> <u
                              class="text-neutral-1-400 font-regular">đ</u> 2.400.000</div>
                        </div>
                        <div class="flex justify-between">
                          <div class="text-title-1 font-medium text-neutral-1-900">Tổng tiền </div>
                          <div class="flex gap-1 text-header-1 text-primary-1 font-semibold"> <u>đ</u> 2.700.000</div>
                        </div>
                      </div>
                    </div> -->
  </div>
  <ng-template #title [ngOutletContext]="context">
    <div class="flex flex-col gap-2 justify-between ">
      <div class="text-header-1 text-neutral-1-900 font-semibold">Chi tiết đơn hàng</div>
    </div>
  </ng-template>
  </tr>
  </ng-template>
  </tbody>
  </tds-table>
</div>
</div>