<tds-spin [spinning]="isLoading">
 <div class="w-screen h-screen overflow-hidden flex">
  <div [style.min-width.px]="!isCollapsed ? 256 : 64" class="h-full">
   <tds-menu [data]="lstData" [inlineCollapsed]="isCollapsed" [showLogo]="true" (onOpenChange)="onOpenChange($event)">
     <img src="assets/images/LogoBNZON.svg" logo-text width="156" height="48" viewBox="0 0 156 48" fill="none">
        <img src="assets/images/LogoShort.svg" logo>
   </tds-menu>
  </div>
  <div class="flex-auto flex flex-col h-full">
   <div class="w-full py-1">
    <tds-header>
     <div class="inline-flex tds-header-toolbar-right items-end">
      <div class="flex mr-2 items-end">
       <!-- <tds-badge class="cursor-pointer" [count]="0" showZero>
        <i class="text-2xl text-neutral-1-500 tdsi-bell-line " trigger="click" [visible]=isClick tds-dropdown
         (visibleChange)="close($event)" [tdsDropdownMenu]="menu1" clickHide=false [placement]="'bottomRight'"
         overlayClassName='indexClass' [autoClose]=false></i>
        <tds-dropdown-menu #menu1="tdsDropdownMenu" class="w-full" selected="true">
         <div class="min-w-[500px]">
          <div class="flex justify-between items-center border-b border-neutral-2-200 px-4 py-3 ">
           <div class="font-semibold text-header-1 text-neutral-1-900">Thông báo</div>
           <div class="flex gap-7 items-center">
            <div class="flex gap-3 items-center text-primary-1 font-semibold text-body-2 cursor-pointer">
             <i class="tdsi-edit-line text-lg"></i>
             Đọc tất cả
            </div>
            <i (click)="closeDropdown()"
             class="tdsi-close-fill border-0 box-border dark:hover:bg-d-neutral-3-300 dark:text-d-neutral-1-500 focus:outline-none h-7 hover:bg-neutral-3-50 hover:rounded-md inline-flex items-center justify-center leading-4 p-1.5 relative text-base text-neutral-1-500 cursor-pointer"></i>
           </div>
          </div>
          <div class="flex flex-col gap-4">
           <div class="flex justify-between px-4 pt-4 items-center">
            <tds-filter-status [ngModel]='0'>
             <tds-filter-status-item name='Tất cả' [value]='0'>
              <ng-template tds-filter-status-template let-active='active' let-disabled="disabled" let-count='count'
               let-name='name' let-value>
               <div class="py-1.5 px-4.5 flex items-center rounded-2xl mr-2" [ngClass]="{'text-white bg-primary-1':active,'
                                  hover:bg-primary-1 group':!disabled}">
                <i class="tdsi-list-view-fill mr-2" [ngClass]="{'text-white':active,'text-neutral-1-500
                                group-hover:text-white':!active}"></i>
                <div class="text-body-2 mr-2 font-semibold" [ngClass]="{'text-white':active,'text-neutral-1-600
                                          group-hover:text-white':!active}">
                 {{name}}
                </div>
                <div>
                 <div class="text-body-2 font-semibold" [ngClass]="{'text-white':active,'text-neutral-1-300
                                  group-hover:text-white':!active}">
                  {{value}}
                 </div>
                </div>
               </div>
              </ng-template>
             </tds-filter-status-item>
             <tds-filter-status-item name='Cà nhân' [value]='1'>
              <ng-template tds-filter-status-template let-active='active' let-disabled="disabled" let-count='count'
               let-name='name' let-value>
               <div class="py-1.5 px-4.5 flex items-center rounded-2xl" [ngClass]="{'text-white bg-primary-1':active,'
                                  hover:bg-primary-1 group':!disabled}">
                <i class="tdsi-user-fill mr-2" [ngClass]="{'text-white':active,'text-neutral-1-500
                                group-hover:text-white':!active}"></i>
                <div class="text-body-2 mr-2 font-semibold" [ngClass]="{'text-white':active,'text-neutral-1-600
                                          group-hover:text-white':!active}">
                 {{name}}
                </div>
                <div>
                 <div class="text-body-2 font-semibold" [ngClass]="{'text-white':active,'text-neutral-1-300
                                  group-hover:text-white':!active}">
                  {{value}}
                 </div>
                </div>
               </div>
              </ng-template>
             </tds-filter-status-item>
            </tds-filter-status>
            <div>
             <span class='tdsi-gear-line text-primary-1 text-3xl cursor-pointer'
              (click)="showModalSettingNotification()"></span>
            </div>
           </div>
           <div class="flex flex-col gap-4 px-4 cursor-pointer">
            <div class="flex justify-between hover:bg-primary-5 px-4 py-3.5  border-b">
             <div class="flex gap-6">
              <tds-badge [count]="iconTemplate">
               <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white" [size]="'xl'"
                [shape]="'square'" [text]="nameProfile" [tdsSrc]="userProfile$?.avatar">
               </tds-avatar>
              </tds-badge>
              <ng-template #iconTemplate>
               <div class=" absolute top-0 right-0
                                inline-block transform translate-x-1/2 -translate-y-1/2 ">
                <tds-badge status="primary"></tds-badge>
               </div>
              </ng-template>
              <div class="flex flex-col gap-4 items-start justify-start">
               <div class="text-body-2 text-neutral-1-900 font-regular">
                <span class="font-semibold">Nguyen Anh</span>
                đã duyệt
                <span class="font-semibold">Đơn khiếu nại công</span>
                của bạn
               </div>
               <div class="text-primary-2 flex gap-1 items-start text-caption-1 font-regular">
                <i class="tdsi-time-line text-base"></i>20 phút trước
               </div>
              </div>
             </div>
             <tds-dropdown-menu #menu1="tdsDropdownMenu">
              <div class="w-36">
               <div tds-dropdown-item>
                <a>Đánh dấu đã đọc</a>
               </div>
               <div tds-dropdown-item>
                <a> Xóa thông báo này</a>
               </div>
              </div>
             </tds-dropdown-menu>
            </div>
           </div>
           <div class="flex flex-col gap-4 px-4 cursor-pointer">
            <div class="flex justify-between hover:bg-primary-5 px-4 py-3.5  border-b">
             <div class="flex gap-6">
              <tds-badge [count]="iconTemplate">
               <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white" [size]="'xl'"
                [shape]="'square'" [text]="nameProfile" [tdsSrc]="userProfile$?.avatar">
               </tds-avatar>
              </tds-badge>
              <ng-template #iconTemplate>
               <div class=" absolute top-0 right-0
                                inline-block transform translate-x-1/2 -translate-y-1/2 ">
                <tds-badge status="primary"></tds-badge>
               </div>
              </ng-template>
              <div class="flex flex-col gap-4 items-start justify-start">
               <div class="text-body-2 text-neutral-1-900 font-regular">
                <span class="font-semibold">Nguyen Anh</span>
                đã duyệt
                <span class="font-semibold">Đơn khiếu nại công</span>
                của bạn
               </div>
               <div class="text-primary-2 flex gap-1 items-start text-caption-1 font-regular">
                <i class="tdsi-time-line text-base"></i>20 phút trước
               </div>
              </div>
             </div>
             <tds-dropdown-menu #menu1="tdsDropdownMenu">
              <div class="w-36">
               <div tds-dropdown-item>
                <a>Đánh dấu đã đọc</a>
               </div>
               <div tds-dropdown-item>
                <a> Xóa thông báo này</a>
               </div>
              </div>
             </tds-dropdown-menu>
            </div>
           </div>
           <div class="py-4 text-center font-semibold text-info-400 cursor-pointer">Xem tất cả thông báo
           </div>
          </div>
         </div>
        </tds-dropdown-menu>
       </tds-badge> -->
      </div>
      <div class="overflow-hidden">
       <tds-spin [spinning]="false">
        <div class="inline-flex pl-4 cursor-pointer" tds-dropdown [tdsDropdownMenu]="dropdownAvatar" trigger="click"
         clickHide=false>
         <div class="flex  items-center justify-center">
          <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white"
           [text]="'A'">
          </tds-avatar>
          <div class="ml-2 truncate">
            Admin
          </div>
          <tds-dropdown-menu #dropdownAvatar="tdsDropdownMenu">
           <div class="w-56">
            <div tds-dropdown-item>
             <div class="flex w-full">
              <div class="flex gap-2">
               <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white" [shape]="'square'"
               [text]="'A'">
               </tds-avatar>
              </div>
              <div class="flex flex-auto flex-col ml-2">
               <div class="text-body-2 font-semibold">Hệ thống quản lý của BNZON</div>
               <!-- <div class="text-neutral-1-600 text-caption-1 font-regular"
                                *ngIf="(role$ | async) as roles">
                                {{roles.length > 0 ? roles.join(' | '): "---"}}
                              </div> -->
              </div>
             </div>
            </div>
            <div tds-dropdown-item (click)="showModalChangePassword()">Đổi mật khẩu</div>
            <div tds-dropdown-item (click)="onLogout($event)">
             <a class="text-error-400">Đăng xuất</a>
            </div>
           </div>
          </tds-dropdown-menu>
         </div>
        </div>
       </tds-spin>
      </div>
     </div>
    </tds-header>
   </div>
   <div class="w-full flex-auto bg-neutral-3-200 border-t border-neutral-2-200">
    <div class="h-full w-full relative">
     <div class="absolute inset-0 overflow-y-auto overflow-x-visible tds-custom-scroll" cdkScrollable
      [@routeFade]="getOutletState(o)">
      <!-- <router-outlet>
                      </router-outlet> -->
      <router-outlet #o="outlet"></router-outlet>
     </div>
    </div>
   </div>
  </div>
 </div>
</tds-spin>