<div class="h-screen w-screen flex flex-col overflow-hidden">
  <div class="flex justify-between items-center bg-white shadow-lg px-10 py-2">
    <div class="w-20 h-20">
      <img src="../../../assets/logoBNzon.PNG" alt="" />
    </div>
    <tds-button-group class="gap-4">
      <button tds-flat-button [routerLink]="['/account']"
        class="p-1.5 font-medium text-sm text-neutral-1-900">Trang chủ</button>
      <button [routerLink]="['/account/register']" tds-flat-button class="p-1.5 font-medium text-sm text-neutral-1-900 border-transparent">Đăng kí</button>
      <div class="flex">
        <button  
          class="px-3 py-1.5 text-sm bg-primary-1 rounded-md font-medium text-white">VN</button>
        <button tds-flat-button class="px-3 py-1.5 text-sm font-medium text-neutral-1-400">EN</button>
      </div>
    </tds-button-group>
  </div>
  <div class="bg-neutral-3-50 h-full w-full flex flex-col justify-center items-center overflow-hidden ">
    <router-outlet></router-outlet>
  </div>
</div>