<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center text-heading-2 mb-8">Đăng kí shop mới</div>
  <div class=" w-full mb-6">
    <div class=" flex items-center mb-2">
      <tds-label>Tên shop</tds-label>
      <span class="ml-1 text-error-500 text-body-2 font-semibold ng-tns-c193-48 ng-star-inserted">*</span>
    </div>
    <tds-form-field class="w-full "
   >
    <input tdsInput size="sm"  type="text" autocomplete="off" placeholder="Nhập tên shop" formControlName="taiKhoan" [required]='true'
    class="appearance-none   text-body-1 text-neutral-1-400  font-normal" />
      <tds-error>Vui lòng chọn nội dung</tds-error>
    </tds-form-field>
  </div>
  <div class=" w-full mb-6">
    <div class=" flex items-center mb-2">
      <tds-label>Tỉnh Thành</tds-label>
      <span class="ml-1 text-error-500 text-body-2 font-semibold ng-tns-c193-48 ng-star-inserted">*</span>
    </div>
    <tds-form-field class="w-full">
      <tds-select size="lg" valueField="id" textField="name"  placeholder='Chọn tỉnh thành'
       disabledField="isActive" [data]="listData" mode="tags" class=" text-body-1 text-neutral-1-400  font-normal">
      </tds-select>
      <tds-error>Validation message text</tds-error>
    </tds-form-field>
  
  </div>
  <div class=" w-full mb-6">
    <div class=" flex items-center mb-2">
      <tds-label>Quận huyện</tds-label>
      <span class="ml-1 text-error-500 text-body-2 font-semibold ng-tns-c193-48 ng-star-inserted">*</span>
    </div>
    <tds-form-field class="w-full">
      <tds-select size="lg" valueField="id" textField="name" placeholder='Chọn quận huyện'
        (ngModelChange)="onModelChange($event)" [data]="listData" mode="tags" class=" text-body-1 text-neutral-1-400  font-normal">
      </tds-select>
    </tds-form-field>
  
  </div>
  <div class=" w-full mb-6">
    <div class=" flex items-center mb-2">
      <tds-label>Phường xã</tds-label>
      <span class="ml-1 text-error-500 text-body-2 font-semibold ng-tns-c193-48 ng-star-inserted">*</span>
    </div>
    <tds-form-field class="w-full">
      <tds-select placeholder="lg" size="lg" valueField="id" textField="name"  placeholder='Chọn phường xã'
        (ngModelChange)="onModelChange($event)" [data]="listData" mode="tags">
      </tds-select>
    </tds-form-field>
  
  </div>
  <div class=" w-full mb-6">
    <div class=" flex items-center mb-2">
      <tds-label>Địa chỉ</tds-label>
      <span class="ml-1 text-error-500 text-body-2 font-semibold ng-tns-c193-48 ng-star-inserted">*</span>
    </div>
    <tds-form-field class="w-full">
      <input tdsInput  type="text" autocomplete="off" placeholder="Nhập địa chỉ" formControlName="taiKhoan" [required]='true'
      class="appearance-none   text-body-1 text-neutral-1-400  font-normal" />
      <tds-error>Vui lòng chọn nội dung</tds-error>
    </tds-form-field>
  
  </div>
  <div class=" w-full mb-6">
    <div class=" flex items-center mb-2">
      <tds-label>Địa chỉ email</tds-label>
      
    </div>
    <tds-form-field class="w-full  text-body-1 text-neutral-1-400  font-normal">
      <tds-select size="lg" valueField="id" textField="name"  placeholder='Nhập email liên hệ của shop'
        (ngModelChange)="onModelChange($event)" [data]="listData" mode="tags" class=" text-body-1 text-neutral-1-400  font-normal">
      </tds-select>
    </tds-form-field>
  
  </div>
  
  <div class=" w-full mb-9">
    <div class=" flex items-center mb-2">
      <tds-label>Số điện thoại</tds-label>
      <span class="ml-1 text-error-500 text-body-2 font-semibold ng-tns-c193-48 ng-star-inserted">*</span>
    </div>
    <tds-form-field class="w-full ">
      <input tdsInput size="sm"  type="text" autocomplete="off" placeholder="Nhập số điện thoại liên hệ shop" formControlName="taiKhoan" [required]='true'
      class="appearance-none   text-body-1 text-neutral-1-400  font-normal"/>
      <tds-error>Vui lòng chọn nội dung</tds-error>
    </tds-form-field>
  </div>
  
  <div class="w-full">
  <button tds-button routerLink="/account/login" class="w-full !font-medium  rounded-md !text-title-1"> Đăng nhập</button>
  </div>

</form>
