<tds-spin [spinning]="isSubmit || isLoadingOfLeader">
    <form class="flex" [formGroup]="addTeamForm" id="addDepartmentForm" (ngSubmit)="onSubmit()">
        <div class="w-3/5 flex flex-col mr-8">
            <div class="flex items-center">
                <div class="w-1/4">
                    <h1 class="text-body-2 font-semibold text-neutral-1-900">Tên team <span
                            class="text-error-500">*</span>
                    </h1>
                </div>
                <div class="w-3/4">
                    <tds-form-field>
                        <input tdsInput autocomplete="off" placeholder="Nhập tên team" formControlName="name"
                            [required]='true' />
                        <tds-error>Vui lòng nhập tên team</tds-error>
                    </tds-form-field>
                </div>
            </div>
            <div class="flex items-center pt-4">
                <div class="w-1/4">
                    <h1 class="text-body-2 font-semibold text-neutral-1-900">Leader</h1>
                </div>
                <div class="w-3/4">
                    <tds-form-field>
                        <tds-select valueField="id" textField="fullName" placeholder='Chọn leader'
                            formControlName="leaderId" [data]="listDataOfStaff" [allowClear]="true">
                            <ng-template tds-label-tmp let-item="item">
                                {{item.data.fullName}}
                            </ng-template>
                        </tds-select>
                    </tds-form-field>
                </div>
            </div>
            <div class="flex items-center pt-4">
                <div class="w-1/4">
                    <h1 class="text-body-2 font-semibold text-neutral-1-900">Mô tả</h1>
                </div>
                <div class="w-3/4">
                    <tds-form-field>
                        <input
                            class="text-body-2 font-regular pt-0.5 pb-10 placeholder:text-body-2 placeholder:font-regular placeholder:text-neutral-1-400"
                            tdsInput autocomplete="off" placeholder="Nhập mô tả" formControlName="description" />
                    </tds-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-col h-full w-2/5 ml-8 border border-neutral-2-100 rounded-md p-2 overflow-hidden">
            <div class="flex items-center">
                <i class="tdsi-group-people-fill text-neutral-1-300 text-header-1"></i>
                <h1 class="text-title-1 font-semibold text-neutral-1-900 mx-2">Danh sách thành viên</h1>
                <span *ngIf="amountMember != 0"
                    class="rounded-full h-6 w-6 flex justify-center items-center bg-primary-4 text-caption-1 text-primary-1 font-semibold">{{amountMember}}</span>
            </div>
            <div class="pt-4">
                <button (click)="showModalAddMember()" class="w-full" type="button" tds-button color="secondary">
                    <span class="flex items-center text-primary-1">
                        <i class="tdsi-add-fill text-lg leading-none mr-2"></i>Thêm thành viên
                    </span>
                </button>
            </div>
            <div class="min-h-0 max-h-96 flex flex-col pt-2 overflow-auto tds-custom-scroll">
                <div *ngFor="let data of listMember"
                    class="group flex items-start justify-between py-2 px-1 border border-white hover:border-primary-4 hover:bg-primary-5 hover:rounded-md">
                    <div class="flex items-center">
                        <tds-avatar size="md" [tdsSrc]="data.avatar!"></tds-avatar>
                        <div class="flex flex-col text-body-2 font-regular text-neutral-1-900 ml-4">
                            <p>{{data.fullName}}</p>
                            <p>{{data.email}}</p>
                        </div>
                    </div>
                    <button class="hidden group-hover:block" (click)="deleteMemberOfChoose(data.id!)" type="button">
                        <i class="tdsi-trash-fill text-error-400"></i>
                    </button>
                </div>
            </div>
        </div>
        <div *tdsModalFooter class="flex items-center justify-end py-4 pr-4">
            <button class="min-w-100 w-[100px] mr-2" (click)="cancel()" type="button" tds-button color="secondary">
                Hủy
            </button>
            <button class="min-w-100 w-[100px]" type="submit" form="addDepartmentForm" tds-button color="primary">
                Lưu
            </button>
        </div>
    </form>
</tds-spin>