<div class="bg-white  w-full pb-2.5 h-full  rounded-lg  overflow-hidden  flex flex-col">
  <div class="flex items-center  justify-between px-4">
    <tds-filter-status [(ngModel)]='selected' (selectChange)="onSelectChange($event)">
      <ng-template ngFor let-item [ngForOf]="lstData" let-i="index">
        <tds-filter-status-item [name]='item.name' [count]='item.count!' [value]="item.value">
          <ng-template tds-filter-status-template let-active='active' let-disabled="disabled" let-count='count'
            let-name='name' let-value>
            <div class="p-4 flex items-center" [ngClass]="{'border-b-3 border-primary-1':active,'hover:border-b-3
                  hover:border-primary-1 group':!disabled}">
              <div class="flex items-center">
                <div class="text-body-2 mr-2 font-semibold" [ngClass]="{'text-primary-1':active,'text-neutral-1-400
                      group-hover:text-neutral-1-900':!active}">
                  {{name}}
                </div>
                <div class="text-caption-2 font-semibold px-1.5 py-0.5 rounded-10"  [ngClass]="{'text-white bg-primary-1':active,'text-neutral-1-400
                group-hover:text-neutral-1-900 bg-neutral-3-100':!active}">{{count}}</div>
              </div>
            </div>
          </ng-template>
        </tds-filter-status-item>
      </ng-template>
    </tds-filter-status>
    <div class="flex gap-2">
      <button (click)="showModalAdd()" tds-button color="primary">
        <span class="flex items-center">
          <i class="tdsi-plus-circle-fill text-lg leading-none mr-2"></i>Thêm sản phẩm mới
        </span>
      </button>
      <button (click)="showModaladdPrice()" tds-button color="secondary">
        <span class="flex items-center">Nhập hàng
        </span>
      </button>
      <tds-form-field>
        <input class="w-96" tdsInput autocomplete="off" [tdsInputDebounce]="500" (inputKeyup)="search($event)"
          placeholder="Tìm kiếm theo tên sản phẩm" />
        <span tdsPrefix><i class="tdsi-search-fill"></i></span>
      </tds-form-field>
      <button tds-button-outline-icon color="secondary" class="context-area" (contextmenu)="contextMenu($event, menu1)">
        <i class="tdsi-filter-2-line text-neutral-1-500 border-neutral-2-200"></i>
      </button>
      <tds-dropdown-menu #menu1="tdsDropdownMenu">
        <div class="flex flex-col gap-8 p-4">
          <div class="flex flex-col gap-3">
            <div class="font-semibold text-xs text-neutral-1-900">LỌC THEO NHÀ SẢN XUẤT</div>
            <div class="flex gap-1">
            </div>
          </div>
          <div class="flex flex-col gap-3">
            <div class="font-semibold text-xs text-neutral-1-900">LỌC THEO TÊN</div>
            <div class="flex  gap-1">
            
            </div>
          </div>
          <div class="flex justify-end gap-3">
            <button (click)="closeMenu()" tds-button color="secondary">Hủy</button>
            <button (click)="onFilter()" tds-button color="primary">Áp dụng</button>
          </div>
        </div>
      </tds-dropdown-menu>
      <button (click)="showModalAddPromotion()" tds-button-outline-icon color="secondary">
        <i class="tdsi-marketing-fill text-neutral-1-500 border-neutral-2-200"></i>
      </button>
    </div>
  </div>
  <div class="w-full h-full">
    <tds-table #rowSelectionTable showSizeChanger [frontPagination]="false" [listData]="lstResource!"
      (queryParams)="onQueryParamsChange($event)" (currentPageDataChange)="onCurrentPageDataChange($event)"
      [scroll]="{y:'auto'}" [total]="lstResource.length" [loading]="loading" [(pageSize)]="pageSize"
      [(pageIndex)]="pageIndex">
      <thead>
        <tr>
          <th width="48px" [(checked)]="checked" [indeterminate]="indeterminate" (checkedChange)="onAllChecked($event)">
          </th>
          <th width="54px">STT</th>
          <th width="120px">Tên sản phẩm</th>
          <th width="100px">Hình ảnh</th>
          <th width="180px">Loại sản phẩm</th>
          <th width="120px">Số lượng tồn</th>
          <th width="120px">Giá hiện tại(đ)</th>
          <th width="120px">Giá trước đó(đ)</th>
          <th width="120px">Khuyến mãi đến</th>
          <th width="280px">Thương hiệu, xuất sứ, nơi sản xuất</th>
          <th width="220px">Mô tả</th>
          <th width="150px">Ghi chú</th>
          <th width="100px" [tdsRight]="true">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data" let-index='index' let-odd='odd'>
          <tr>
            <td width="48px" [checked]="setOfCheckedId.has(data)" (checkedChange)="onItemChecked(data, $event)"></td>
            <td width="54px">{{(pageIndex-1) * pageSize + index + 1}}</td>
            <td width="120px">{{ data.name }}</td>
            <td width="100px">
              <tds-avatar [shape]="'square'"  [isAvatar]="false" [size]="'lg'" [tdsSrc]=data.display_image>
              </tds-avatar>
            </td>
            <td width="180px"  class="text-body-2 text-neutral-900 font-sans font-normal">{{ data.type }}</td>
            <td width="120px"  class="text-body-2 text-neutral-900 font-sans font-normal">{{ data.quantity }}</td>
            <td width="120px"  class="text-body-2 text-neutral-900 font-sans font-normal">
                {{ data.last_price.price|currency:'đ':'code'}}
            </td>
            <td width="120px"  class="text-body-2 text-neutral-900 font-sans font-normal">
                {{ data.pre_price?.price|currency:'đ':'code'}}
            </td>
            <td width="120px" class="text-body-2 text-neutral-900 font-sans font-normal">
              {{ data.last_price.end_datetime|date:'dd/MM/yyyy'}}
            </td>
            <td width="280px" class="flex flex-col gap-2 items-start">
              <div class="text-body-2 text-neutral-900 font-sans font-normal">Thương hiệu: {{ data.brand.name }}</div>
              <div class="text-body-2 text-neutral-900 font-sans font-normal">Xuất sứ: {{ data.brand.origin }}</div>
              <div class="text-body-2 text-neutral-900 font-sans font-normal">Nơi sản xuất: {{ data.brand.origin_brand }}</div>
            </td>
            <td width="250px"  class="text-body-2 text-neutral-900 font-sans font-normal"></td>
            <td width="170px">
              
            </td>
            <td width="100px" [tdsRight]="true">
              <div class="flex gap-2">
                <button (click)="showModalEdit(data)" tds-button-outline-icon color="secondary">
                  <i class="tdsi-edit-fill text-neutral-1-300 border-neutral-2-100"></i>
                </button>
                <button (click)="onDeleteOne(data)" tds-button-outline-icon color="secondary">
                  <i class="tdsi-trash-fill text-neutral-1-300 border-neutral-1-200"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </tds-table>
  </div>
</div>
