<tds-spin [spinning]="loading">
  <div class="flex  items-center justify-center gap-8  h-full w-full bg-neutral-3-300   overflow-hidden">
    <div class="flex flex-col gap-4 items-center  h-full max-w-7xl  pb-4 pt-10 ">
      <div class="flex flex-col gap-4 w-full ">
        <div class="flex gap-4 items-start w-full p-4  bg-white">
          <div class="w-2/5 flex flex-col gap-8">
            <div class="max-h-[450px] flex justify-center items-center py-8">
              <img tds-image width="400px" [placeholder]="placeholder" height="450px" [fallback]="fallback" alt=""
                [tdsSrc]="product?.display_image!" alt="" />
            </div>
            <tds-image-group class="grid grid-cols-5 bg-neutral-3-50">
              <div *ngFor="let item of lstImg; let i = index" class="px-2 py-2">
                <img tds-image height="200px" alt="" [tdsSrc]="item.url" alt="" />
              </div>
            </tds-image-group>
          </div>
          <div class="w-3/5  flex flex-col gap-4">
            <div class="flex items-center gap-8">
              <div class="flex items-center gap-2">
                <tds-rate size="lg" [ngModel]="SumRating[0!]?.rating!/SumRating[0!]?.length! || 0" [disabled]="isDisabled"></tds-rate>
                <div class="flex gap-2 items-center">
                  <div class="flex items-center gap-1">
                    <div class="text-heading-3 font-semibold text-primary-1">{{SumRating[0!]?.rating!/SumRating[0!]?.length! || 0}}</div>
                    <div class="text-header-1   font-semibold text-neutral-1-400">/5</div>
                  </div>
                </div>
                <tds-divider tdsType="vertical"></tds-divider>
                <div class="flex items-end gap-1">
                  <div class="text-body-1 font-semibold text-neutral-1-900 mr-2">{{SumRating[0!]?.length! || 0}}</div>
                  <div class="text-body-1  font-semibold text-neutral-1-400">Đánh giá</div>
                </div>
              </div>
              <div class="text-neutral-1-900 text-heading-3 font-semibold font-sans">{{product?.name}} -
                {{product?.brand?.name}}
              </div>
            </div>
            <div class=" bg-neutral-3-50 p-4 text-primary-1 text-heading-4 font-semibold">{{product?.productNo}}:
              {{product?.last_price?.price|
              currency:'VND'}}</div>
            <div class=" bg-neutral-3-50 flex flex-col gap-4">
              <div class="flex gap-4 items-center p-4">
                <div class="text-neutral-1-900 text-body-2 font-normal font-sans">Số lượng còn lại</div>
                <div class="text-primary-1 text-body-2 font-semibold font-sans">{{product?.quantity}}</div>
              </div>
            </div>
            <div class="flex gap-8 items-center mb-4">
              <div class="text-neutral-1-900 text-header-1 font-semibold font-sans">Số lượng</div>
              <div class="flex gap-4 items-center">
                <button (click)="changeQuantity(-1)" tds-button-icon class="!bg-neutral-3-50 border-0">
                  <i class="tdsi-arrow-left-line text-neutral-1-500"></i>
                </button>
                <tds-input-number [min]="0" [max]="product?.quantity!" [step]="1" [(ngModel)]="quantity">
                </tds-input-number>
                <!-- <div class="text-body-2 font-semibold text-neutral-1-800">{{quantity}}</div> -->
                <button (click)="changeQuantity(1)" tds-button-icon class="!bg-neutral-3-50 border-0">
                  <i class="tdsi-arrow-right-line text-neutral-1-500"></i>
                </button>
              </div>
            </div>
            <div class="flex gap-8 items-center">
              <button (click)="addOrder(product)" type="button" tds-button class="mr-2 min-w-[100px]" color="secondary">
                Thêm vào giỏ hàng
              </button>
              <button (click)="moveToOrder(product)" class="min-w-[100px]" tds-button type="submit" color="primary">
                Mua ngay
              </button>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-start p-4 bg-white">
          <div class="flex gap-4">
            <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white" [size]="64" [shape]="'square'"
              [tdsSrc]="product?.agency?.avatar">
            </tds-avatar>
            <div class="flex flex-col gap-3">
              <div class="flex flex-col gap-1 items-start text-sm font-normal">
                Shop: <div class="text-body-1 text-neutral-1-900 font-semibold">{{product?.agency?.name}}</div>
                <div class="text-body-2 text-neutral-1-500 font-semibold">{{product?.agency?.phone}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex gap-4  mb-4">
          <div class="flex flex-col gap-4 w-4/5 bg-white p-4">
            <div class="text-header-1 font-semibold text-neutral-1-900 p-2 bg-neutral-3-50">Chi tiết sản phẩm</div>
            <div class="flex gap-4 items-center w-full">
              <div class="text-base font-semibold text-neutral-1-900">Danh mục</div>
              <div class="">
                <tds-breadcrumb>
                  <tds-breadcrumb-item><a [routerLink]="['/customer/']">Trang chủ</a></tds-breadcrumb-item>
                  <tds-breadcrumb-item *ngFor="let item of product?.type ; let i = index ">
                    <div class="text-primary-1">> {{item}}</div>
                  </tds-breadcrumb-item>
                </tds-breadcrumb>
              </div>
            </div>
            <div class="flex gap-4 items-center w-full">
              <div class="text-base font-semibold text-neutral-1-900">Xuất sứ</div>
              <div class="text-base font-regular text-neutral-1-900">
                {{product?.brand?.origin}}
              </div>
            </div>
            <div class="flex gap-4 items-center w-full">
              <div class="text-base font-semibold text-neutral-1-900">Nhập từ</div>
              <div class="text-base font-regular text-neutral-1-900">
                {{product?.brand?.origin_brand}}
              </div>
            </div>
            <div class="flex gap-4 items-center w-full">
              <div class="text-base font-semibold text-neutral-1-900">Hãng</div>
              <div class="text-base font-regular text-neutral-1-900">
                {{product?.brand?.name}}
              </div>
            </div>
            <div class="flex gap-4 items-center w-full">
              <div class="text-base font-semibold text-neutral-1-900">Số lượng còn lại</div>
              <div class="text-base font-regular text-neutral-1-900">
                {{product?.quantity}}
              </div>
            </div>
          </div>
          <div class="w-1/5 bg-white">
            <div class="flex flex-col gap-2">
              <div class=""></div>
              <div class=""></div>
            </div>
          </div>
        </div>
        <div class="flex gap-4  mb-4">
          <div class="flex flex-col gap-4 w-4/5 bg-white p-4">
            <div class="text-header-1 font-semibold text-neutral-1-900 p-2 bg-neutral-3-50">Mô tả sản phẩm</div>
            <div class="flex gap-4 items-center w-full">
              <!-- <div class="text-base font-regular text-neutral-1-900">
                {{product?.describe}}
              </div> -->
              <div [innerHTML]=" product?.describe|tdsSafeHtml"> </div>
            </div>
          </div>
          <div class="w-1/5 bg-white">
            <div class="flex flex-col gap-2">
              <div class=""></div>
              <div class=""></div>
            </div>
          </div>
        </div>
        <div class="flex gap-4  mb-4">
          <div class="flex flex-col gap-4 w-4/5 bg-white p-4">
            <div class="text-header-1 font-semibold text-neutral-1-900 p-2 bg-neutral-3-50">Đánh giá sản phẩm</div>
            <div class="flex gap-8 items-end w-full bg-primary-5 p-4">
              <div class="flex flex-col gap-2">
                <div class="flex gap-2 items-center">
                  <div class="flex items-center gap-1">
                    <div class="text-heading-3 font-semibold text-primary-1">{{SumRating[0!]?.rating!/SumRating[0!]?.length! || 0}}</div>
                    <div class="text-header-1   font-semibold text-neutral-1-400">/5</div>
                  </div>
                  <tds-divider tdsType="vertical"></tds-divider>
                  <div class="flex items-end gap-1">
                    <div class="text-body-1 font-semibold text-neutral-1-900 mr-2">{{SumRating[0!]?.length! || 0}}</div>
                    <div class="text-body-1  font-semibold text-neutral-1-400">Đánh giá</div>
                  </div>
                </div>
                <tds-rate size="lg" [ngModel]="SumRating[0!]?.rating!/SumRating[0!]?.length! || 0" [disabled]="isDisabled"></tds-rate>
              </div>
              <tds-filter-status [(ngModel)]='star' (selectChange)="onSelectChangeRating($event)">
                <ng-template ngFor let-item [ngForOf]="lstStar" let-i="index">
                  <tds-filter-status-item [name]='item.name' [count]='item.count!' [value]="item.value">
                    <ng-template tds-filter-status-template let-active='active' let-disabled="disabled"
                      let-count='count' let-name='name' let-value>
                      <div class="p-4 mr-2 flex items-center border-b-3 border-transparent text-body-2 font-medium"
                        [ngClass]="{' border-primary-1':active,'
                                                                          hover:border-primary-1 group':!disabled}">
                        <div class="text-body-2 mr-2 font-semibold"
                          [ngClass]="{'text-neutral-1-900':active,'text-neutral-1-600 
                                                                              group-hover:text-neutral-1-900':!active}">
                          {{name}}</div>
                        <div>
                          <span *ngIf="value != 0" class="tdsi-star-1-fill text-2xl leading-4 text-warning-400">
                          </span>
                        </div>
                      </div>
                    </ng-template>
                  </tds-filter-status-item>
                </ng-template>
              </tds-filter-status>
            </div>
            <ng-container *ngIf="rating?.length! > 0; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <div *ngFor="let items of rating ;let i = index;" class="flex gap-4 items-center p-4">
                <div class="h-full">
                  <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white" [size]="64"
                    [shape]="'square'" [tdsSrc]="items.customer_info.avatar">
                  </tds-avatar>
                </div>
                <div class="flex items-start h-full">
                  <div class="text-body-1 text-primary-1 font-semibold">{{items.customer_info.name}}</div>
                </div>
                <div class="flex flex-col gap-4">
                  <div class="flex flex-col gap-2 items-start h-full">
                    <div class="text-body-2 text-neutral-1-500 font-semibold">{{items.date_created | date: "HH:mm
                      dd/MM/yyyy"}}</div>
                    <tds-rate size="xl" [ngModel]="items.star" [disabled]="isDisabled"></tds-rate>
                  </div>
                  <div class="flex items-cener gap-8">
                    <div class="text-body-2 text-neutral-1-900 font-semibold">{{items.title}}: {{items.content}}</div>
                    <div *ngIf="items?.reply?.length! > 0 " class="flex flex-col gap-2">
                      <div class="flex gap-4 items-center justify-start">
                        <i class="tdsi-reply-fill text-neutral-1-500 text-xl"></i>
                        <div class="flex flex-col gap-3">
                          <div class="flex flex-col gap-1 items-start text-sm font-normal">
                            <div class="text-body-1 text-neutral-1-900 font-semibold">{{product?.agency?.name}}</div>
                          </div>
                        </div>
                        <tds-avatar class="bg-base-orange-500 dark:bg-d-base-orange-500 text-white" [size]="32" [shape]="'square'"
                          [tdsSrc]="product?.agency?.avatar">
                        </tds-avatar>
                        <div *ngIf=" items?.reply?.length! >1 && item == true"
                          class="text-body-1 text-info-500 font-semibold cursor-pointer" (click)="changeRating(i)">Xem
                          thêm phản hồi</div>
                        <div *ngIf=" items?.reply?.length! >1 && item == false"
                          class="text-body-1 text-info-500 font-semibold cursor-pointer" (click)="changeRating(i)">Thu gọn</div>
                      </div>
                      <div *ngFor="let item of items.reply | slice: 0:getReply+1" class="flex flex-col gap-1 items-start p-1">
                        {{item.content}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-end">
                <tds-pagination size="lg" [pageIndex]="1" [total]="rating?.length" showQuickJumper></tds-pagination>
              </div>
            </ng-template>
            <ng-template #elseTemplate>
              <div class="flex items-center justify-center">
                <div class="flex flex-col gap-6 items-center py-6">
                  <img src="assets//images//dashboard//No data.svg" alt="" srcset="">
                  <div class="text-body-2 font-regular text-neutral-1-300">Chưa có đánh giá nào
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="w-1/5 bg-white">
            <div class="flex flex-col gap-2">
              <div class=""></div>
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</tds-spin>