<hrm-account-layout>
  <img width="400" height="381" src="../assets/images/login/forgot-password.svg" alt="THRM">
  <div class="w-full h-full flex items-center justify-center">
    <div class="w-[300px] md:w-[368px] flex  flex-col">
      <div class=" py-4 text-header-1 text-neutral-1-900 font-semibold">
        Đặt lại mật khẩu
      </div>
      <div class="w-full mt-4">
        <div class="text-body-2 font-regular text-neutral-1-900 px-3 py-5 bg-primary-5 border border-primary-1 text-center rounded">
          Nhập mật khẩu hiện tại của bạn để thực hiện thay đổi.
        </div>
      </div>
      <tds-spin [spinning]="isSubmit">
        <form class="w-full" [formGroup]="changePasswordForm" autocomplete="off" (ngSubmit)="onSubmit()">
          <div class="w-full mt-4">
            <tds-form-field>
              <tds-label>Mật khẩu hiện tại</tds-label>
              <div class="flex items-center ">
                <input tdsInput autocomplete="off"
                  [type]=" isShowPassWord ? 'text' : 'password' " placeholder="Nhập lại mật khẩu hiện tại"/>
                <span tdsSuffix><i (click)="showPassword()"
                    [ngClass]="isShowPassWord ? 'tdsi-eye-open-fill' : 'tdsi-eye-close-fill'"
                    class=" text-neutral-1-500"></i></span>
              </div>
              <tds-error>Vui lòng nhập hiện tại</tds-error>
            </tds-form-field>
          </div>
          <div class="w-full mt-4">
            <tds-form-field>
              <tds-label>Mật khẩu mới</tds-label>
              <div class="flex items-center ">
                <input tdsInput autocomplete="off" [type]=" isShowPassWord ? 'text' : 'password' "
                  placeholder="Nhập mật khẩu mới"/>
                <span tdsSuffix><i (click)="showPassword()"
                    [ngClass]="isShowPassWord ? 'tdsi-eye-open-fill' : 'tdsi-eye-close-fill'"
                    class=" text-neutral-1-500"></i></span>
              </div>
              <tds-error>Vui lòng nhập mật khẩu mới</tds-error>
            </tds-form-field>
          </div>
          <div class="w-full mt-4">
            <tds-form-field>
              <tds-label>Nhập lại mật khẩu mới</tds-label>
              <div class="flex items-center ">
                <input tdsInput autocomplete="off" [type]=" isShowPassWord ? 'text' : 'password' "
                  placeholder="Nhập lại mật khẩu mới"/>
                <span tdsSuffix><i (click)="showPassword()"
                    [ngClass]="isShowPassWord ? 'tdsi-eye-open-fill' : 'tdsi-eye-close-fill'"
                    class=" text-neutral-1-500"></i></span>
              </div>
              <tds-error>Vui lòng nhậ lại mật khẩu mới</tds-error>
            </tds-form-field>
          </div>
          <div class="w-full flex items-center justify-end mt-4 py-4">
            <a tds-link type="link" routerLink="/account/login-sms" class="mt-1 mr-6">Về trang chủ</a>
            <button tds-button type="submit" color="primary">
              Xác nhận
            </button>
          </div>
        </form>
      </tds-spin>
    </div>
  </div>
</hrm-account-layout>
