<div class="w-full h-full flex flex-col ">
  <div class="w-full pt-4 bg-white">
    <tds-page-header title="Thông tin chấm công">
      <tds-page-header-content>
        <div class="w-full">
          <a routerLink="/setting-resource/time-attendance/shift" routerLinkActive #rls="routerLinkActive">
            <tds-tag mode="checkable" [disabled]="true" [checked]="rls.isActive"
              [rounded]='rls.isActive ? "rounded-full":"rounded-full rounded-full !border-0"' class="mr-2">
              Ca làm
            </tds-tag>
          </a>
          <a routerLink="/setting-resource/time-attendance/holidays-manage" routerLinkActive #rlp="routerLinkActive">
            <tds-tag mode="checkable" [disabled]="true" [checked]="rlp.isActive"
              [rounded]='rlp.isActive ? "rounded-full":"rounded-full rounded-full !border-0"' class="mr-2">
              Nghỉ lễ
            </tds-tag>
          </a>
          <a routerLink="/setting-resource/time-attendance/furlough-kind-manage" routerLinkActive
            #rlst="routerLinkActive">
            <tds-tag mode="checkable" [disabled]="true" [checked]="rlst.isActive"
              [rounded]='rlst.isActive ? "rounded-full":"rounded-full rounded-full !border-0"'>
              Loại nghỉ phép
            </tds-tag>
          </a>
          <a routerLink="/setting-resource/time-attendance/working-kind-manage" routerLinkActive
            #rlt="routerLinkActive">
            <tds-tag mode="checkable" [disabled]="true" [checked]="rlt.isActive"
              [rounded]='rlt.isActive ? "rounded-full":"rounded-full rounded-full !border-0"'>
              Hình thức làm việc
            </tds-tag>
          </a>
        </div>
      </tds-page-header-content>
    </tds-page-header>
  </div>
  <div class="flex-auto p-4">
    <router-outlet></router-outlet>
  </div>
</div>
